<div class="container">
	<div class="image">
		<!-- Burger image from http://www.clker.com/clipart-burger-with-space-1.html -->
		<img class="img-responsive" src="assets/img/burger.png" alt="Burger with space for text"/>
		<h1>Nom-Nom Burger <i>II</i></h1>
	</div>





	<div id="burger-menu">
		<div class="col-sm-12 text-center">
			<h2>Add a burger</h2>		
			<form class="create-update-form" action="burgers/create" method="POST">

				<div class="form-group">
					<label for="burgerName" class=" add-burger">Burger Name:</label>
					<input type="text" id="burgerName" name="burger_name" autofocus>
					<button type="submit" class="button-add">Add Burger</button>
				</div>				
			</form>

		</div>
		<div class="clearfix"><hr/></div>

		<div class="col-sm-6 text-center">
			<h2>Burgers to eat</h2>
			
			<ul class="list-group">

			{{#each burgers}}
			  {{#unless this.devoured}}
			  	<li class="list-group-item new-burgers">
			  	{{this.id}}. {{this.burger_name}}
					<form action="burgers/update?_method=PUT" method="POST" class="form-inline">
						<div class="form-group devour-form">						
							<input type="hidden" name="burger_id" value={{this.id}}>
							<!-- <div class="col-sm-2 col-sm-offset-3"> -->
							<label class="sr-only" for="customerName">Customer name</label>
							<input type="text" name="customer_name" id="customerName" class="form-control" placeholder="Customer name">
							<!-- </div> -->
							<button type="submit" class="button-devour btn btn-default">Nom-Nom!</button>
						</div>
					</form>
					</li>
			  {{/unless}}			
			{{/each}}

			</ul>
			
		</div>

		<div class="col-sm-6 text-center">
			<h2>Done burgers</h2>
			<ul class="list-group">

			{{#each burgers}}
			  {{#if this.devoured}}
			  	<li class="list-group-item done-burgers">
					{{this.id}}. {{this.burger_name}}  
					{{#if this.Customer.customer_name}} was eaten by {{this.Customer.customer_name}} {{/if}}
				</li>
			  {{/if}}
			{{/each}}

			</ul>

		</div>

		
	</div>
</div>
<footer class="text-center">Copyright 2016 <a href="https://github.com/froglander/sequelizedBurger">Github Repo</a>
</footer>